body {
    font-family: Courier New, Roboto Mono, monospaced; font-size: 22px;
    color: #ffffff;
    background-color: #1f1f1f;
}
button {
    font-family: Courier New, Roboto Mono, monospaced; font-size: 18px;
    background-color: transparent;
    color: white; 
    border: 2px solid #30ffac;
    border-radius: 5px;
    transition-duration: 0.4s;
    animation-duration: 2.5s;
    animation-name: btn;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    animation-timing-function: ease;
    box-shadow: 0 0 3px #30ffac;
}
button:hover {
  background-color: #30ffac;
  transition-duration: 1;
  color: #1f1f1f;
  box-shadow: 0 0 8px #30ffac;
}
a {
    animation-duration: 2.5s;
    animation-name: link;
    animation-timing-function: ease;
    position: relative;
    animation-delay: 2s;
    animation-fill-mode: both;
    text-shadow: 0 0 4px #30ffac;
    transition-duration: 1s;
}
a:hover {
    text-shadow: 0 0 8px #30ffac;
}
@keyframes btn {
  0% {border: 2px solid transparent; color: transparent; box-shadow: 0 0 3px transparent;}
  25% {border: 2px solid #30ffac; color: white; box-shadow: 0 0 3px #30ffac;}
  50% {box-shadow: 0 0 10px #30ffac;}
  100% {box-shadow: 0 0 3px #30ffac;}
}
@keyframes link {
   0% {color: transparent; text-shadow: 0 0 0px transparent;}
  25% {color: #30ffac; text-shadow: 0 0 5px #30ffac;}
  50% {color: #30ffac; text-shadow: 0 0 15px #30ffac;}
  100% {color: #30ffac; text-shadow: 0 0 5px #30ffac;}
}
h1 {
    color: #30ffac;
    text-shadow: 0 0 7px #30ffac;
}
h2 {
    animation-duration: 2.5s;
    animation-name: yuh;
    position: relative;
    animation-timing-function: ease;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    text-shadow: 0 0 3px #ffffff;
}
h3 {
    animation-duration: 2.5s;
    animation-name: yuh;
    position: relative;
    animation-timing-function: ease;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    text-shadow: 0 0 3px #ffffff;
}
h4 {
    animation-duration: 2.5s;
    animation-name: yuh;
    position: relative;
    animation-timing-function: ease;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    text-shadow: 0 0 3px #ffffff;
}
h5 {
    animation-duration: 2.5s;
    animation-name: yuh;
    animation-timing-function: ease;
    position: relative;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    text-shadow: 0 0 3px #ffffff;
}
h6 {
    animation-duration: 2.5s;
    animation-name: yuh;
    position: relative;
    animation-timing-function: ease;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    text-shadow: 0 0 3px #ffffff;
}
@keyframes yuh {
   0% {color: transparent; text-shadow: 0 0 5px transparent;}
  25% {color: white; text-shadow: 0 0 5px #ffffff;}
  50% {color: white; text-shadow: 0 0 15px #ffffff;}
  100% {color: white; text-shadow: 0 0 5px #ffffff;}
}

$red: #FF4651;
$green: #30FFAC;

.switch {
    cursor: pointer;
    input {
        display: none;
        & + span {
            width: 48px;
            height: 28px;
            border-radius: 14px;
            transition: all .3s ease;
            display: block;
            position: relative;
            background: $red;
            box-shadow: 0 0px 10px -1px $red;
            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                transition: all .3s ease;
            }
            &:before {
                top: 5px;
                left: 5px;
                width: 18px;
                height: 18px;
                border-radius: 9px;
                border: 5px solid #fff;
            }
            &:after {
                top: 5px;
                left: 32px;
                width: 6px;
                height: 18px;
                border-radius: 40%;
                transform-origin: 50% 50%;
                background: #fff;
                opacity: 0;
            }
            &:active {
                transform: scale(.92);
            }
        }
        &:checked {
            & + span {
                background: $green;
                box-shadow: 0 0px 10px -1px $green;
                &:before {
                    width: 0px;
                    border-radius: 3px;
                    margin-left: 27px;
                    border-width: 3px;
                    background: #fff;
                }
                &:after {
                    animation: blobChecked .35s linear forwards .2s;
                }
            }
        }
        &:not(:checked) {
            & + span {
                &:before {
                    animation: blob .85s linear forwards .2s;
                }
            }
        }
    }
}

@keyframes blob {
    0%, 100% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.12, .94);
    }
    60% {
        transform: scale(.96, 1.06);
    }
}

@keyframes blobChecked {
    0% {
        opacity: 1;
        transform: scaleX(1);
    }
    30% {
        transform: scaleX(1.44);
    }
    70% {
        transform: scaleX(1.18);
    }
    50%,
    99% {
        transform: scaleX(1);
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
        opacity: 0;
    }
}

html {
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

// Center & dribbble
body {
    min-height: 100vh;
    font-family: Roboto, Arial;
    color: #ADAFB6;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F9FF;
    .dribbble {
        position: fixed;
        display: block;
        left: 20px;
        bottom: 20px;
        img {
            display: block;
            height: 28px;
        }
    }
}
