html {
    scroll-behavior: smooth;
}
body {
    font-family: Courier New, Roboto Mono, monospaced; font-size: 22px;
    color: #ffffff;
    background-color: #1f1f1f;
}
button {
    font-family: Courier New, Roboto Mono, monospaced; font-size: 18px;
    background-color: transparent;
    color: white; 
    border: 2px solid #30ffac;
    border-radius: 5px;
    transition-duration: 0.4s;
    animation-duration: 2.5s;
    animation-name: btn;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    animation-timing-function: ease;
    box-shadow: 0 0 3px #30ffac;
}
button:hover {
  background-color: #30ffac;
  transition-duration: 1;
  color: #1f1f1f;
  box-shadow: 0 0 8px #30ffac;
}
a {
    animation-duration: 2.5s;
    animation-name: link;
    animation-timing-function: ease;
    position: relative;
    animation-delay: 2s;
    animation-fill-mode: both;
    text-shadow: 0 0 4px #30ffac;
    transition-duration: 1s;
}
a:hover:after {
    text-shadow: 0 0 8px #30ffac;
}
@keyframes btn {
  0% {border: 2px solid transparent; color: transparent; box-shadow: 0 0 3px transparent;}
  25% {border: 2px solid #30ffac; color: white; box-shadow: 0 0 3px #30ffac;}
  50% {box-shadow: 0 0 10px #30ffac;}
  100% {box-shadow: 0 0 3px #30ffac;}
}
@keyframes link {
   0% {color: transparent; text-shadow: 0 0 0px transparent;}
  25% {color: #30ffac; text-shadow: 0 0 5px #30ffac;}
  50% {color: #30ffac; text-shadow: 0 0 15px #30ffac;}
  100% {color: #30ffac; text-shadow: 0 0 5px #30ffac;}
}
h1 {
    color: #30ffac;
    text-shadow: 0 0 7px #30ffac;
}
h2 {
    animation-duration: 2.5s;
    animation-name: yuh;
    position: relative;
    animation-timing-function: ease;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    text-shadow: 0 0 3px #ffffff;
}
h3 {
    animation-duration: 2.5s;
    animation-name: yuh;
    position: relative;
    animation-timing-function: ease;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    text-shadow: 0 0 3px #ffffff;
}
h4 {
    animation-duration: 2.5s;
    animation-name: yuh;
    position: relative;
    animation-timing-function: ease;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    text-shadow: 0 0 3px #ffffff;
}
h5 {
    animation-duration: 2.5s;
    animation-name: yuh;
    animation-timing-function: ease;
    position: relative;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    text-shadow: 0 0 3px #ffffff;
}
h6 {
    animation-duration: 2.5s;
    animation-name: yuh;
    position: relative;
    animation-timing-function: ease;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    text-shadow: 0 0 3px #ffffff;
}
@keyframes yuh {
   0% {color: transparent; text-shadow: 0 0 5px transparent;}
  25% {color: white; text-shadow: 0 0 5px #ffffff;}
  50% {color: white; text-shadow: 0 0 15px #ffffff;}
  100% {color: white; text-shadow: 0 0 5px #ffffff;}
}
.panic {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #30ffac;
  text-shadow: 0 0 4px #30ffac;
}
.topnav {
  margin: 0;
  position: absolute;
  margin-top: 10px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.centertext {
    animation-duration: 2.5s;
    animation-name: yuh;
    position: relative;
    animation-timing-function: ease;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    text-shadow: 0 0 3px #ffffff;
    text-align: center;
}
.settingsInput {
    width: 50%;
    height: 50px;
    padding: 0px 5px;
    color:  white;
    font-family: 'Courier New';
    background: #1f1f1f;
    font-size: 20px;
    border-radius: 5px;
    border-color: #30ffac;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 0 8px #30ffac;
    transition: all .2s ease-in-out;
    animation-duration: 2.5s;
    animation-name: btn;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    animation-timing-function: ease;
}
.settingsButton {
    width: 90px;
    height: 50px;
    color: white;
    padding: 0px 5px;
    font-size: 15px;
    font-family: 'Courier New';
    background: #1f1f1f;
    border-radius: 5px;
    border-color: #30ffac;
    border-width: 1px;
    cursor: pointer;
    border-style: solid;
    box-shadow: 0 0 8px #30ffac;
    transition: all .2s ease-in-out;
    text-align: center;
}
.settingsButton:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}
.settingsButton[name="cloakButton"] {
    width: 50px;
    height: 52px;
    padding: 0px 5px;
    text-align: center;
}
.settingsButton[name="cloakButtonTitle"] {
    width: 60px;
    height: 52px;
    padding: 0px 5px;
    text-align: center;
}
.settingsInput:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.01);
}
